{% extends 'profile_base.html.twig' %}


{% block header %}
    <h1 class="header1"> وضع المطور!! </h1>
{% endblock %}

{% block main %}
    <div class="container main_all">
        <div class="row">
            <div class="col-sm-3 col-xs-1"></div>

            <div class="col-sm-6 col-xs-10 item">
                <h1> يمكنك الآن استخدام وضع المطور لتفعيل رموز توثيق الاتصال الخاص بك لاستخدام ال API الخاصة بالموقع </h1>
                <form action="{{ path('get_developer') }}" method="post">



                    <div class="row">

                        <div class="col-xs-8">
                            {% if app.user.api is null %}
                                <input id="api" type="text" placeholder="رمز API الخاص بك" readonly>
                            {% else %}
                                <input id="api" type="text" value="{{ app.user.api }}" readonly>
                            {% endif %}
                        </div>

                        <div class="col-xs-4">
                            <label for="api">رمز API: </label>
                        </div>
                    </div>

                    <br><br>
                    <input id="start" name="start" type="submit" value="بدء العمل">
                    <br><br>
                    <input id="key" name="key" type="submit" value="رمز جديد">

                </form>

            </div>

            <div class="col-sm-3 col-xs-1"></div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
    <style>
        .header1{
            text-align: center;
            color:#333;
            direction: rtl;
        }
        .item{
            background-color: #e1e1e1;
            margin-top: 20px;
            margin-bottom: 20px;
            box-shadow: 5px 5px 4px 5px #888888;
            min-height: 400px!important;
        }


        p, .item a button{
            direction: rtl;
            font-size: 20px;
            font-weight: bold;
            padding-top: 20px;
        }
        .item a button{
            padding-top: 0;
            margin-top: 20px;
            float: right;
            color:#333;
            font-weight: normal;
        }


        form{
            direction: rtl;
            padding: 25px;
        }

        form .row{
            margin-top: 10px;
        }

        .wrapper{
            display: inline;
            margin: auto 7px;
        }

        /* Basic styles */
        .wrapper input[type="checkbox"]{
            position: absolute;
            opacity: 0;
            z-index: -1;
        }
        .wrapper label {
            position: relative;
            display: inline-block;
            padding: 0 0 0 2em;
            height: 1.5em;
            line-height: 1.5;
            cursor: pointer;
        }
        .wrapper label::before,
        .wrapper label::after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 1.5em;
            height: 1.5em;
        }
        .wrapper label::before {
            content: " ";
            border: 2px solid #bdc3c7;
            border-radius: 20%;
        }
        /* Checkbox */
        .wrapper input[type="checkbox"] + label::after {
            content: "\2714";
            color: #2c3e50;
            line-height: 1.5;
            text-align: center;
        }
        /* :checked */
        .wrapper input[type="checkbox"]:checked + label::before,
        input[type="radio"]:checked + label::before {
            background: #fff;
            border-color: #fff;
        }
        .wrapper input[type="checkbox"] + label::after{
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }
        .wrapper input[type="checkbox"]:checked + label::after{
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        /* Transition */
        .wrapper label::before,
        .wrapper label::after {
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
        }


        .item{
            font: 95% Arial, Helvetica, sans-serif;
            padding: 16px;
        }
        .item h1{
            background: #C00;
            padding: 20px 0;
            font-size: 140%;
            font-weight: 300;
            text-align: center;
            color: #fff;
            margin: -16px -16px 16px -16px;
            direction: rtl;
            line-height: 30px;
        }
        input[type="text"],
        input[type="date"],
        input[type="datetime"],
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="time"],
        input[type="url"],
        textarea,
        select
        {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            background: #fff;
            margin-bottom: 4%;
            border: 1px solid #ccc;
            padding: 3%;
            color: #555;
            font: 95% Arial, Helvetica, sans-serif;
        }
        input[type="text"]:focus,
        input[type="date"]:focus,
        input[type="datetime"]:focus,
        input[type="email"]:focus,
        input[type="number"]:focus,
        input[type="search"]:focus,
        input[type="time"]:focus,
        input[type="url"]:focus,
        textarea:focus,
        select:focus
        {
            box-shadow: 0 0 5px #333;
            padding: 3%;
            border: 1px solid #333;
        }

        input[type="submit"],
        input[type="button"]{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            padding: 3%;
            background: #C00;
            border-bottom: 2px solid #C00;
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
            color: #fff;
        }
        input[type="submit"]:hover,
        input[type="button"]:hover {
            background: #C00;
        }

    </style>
{% endblock %}
