{% extends 'base.html.twig' %}

{% block title %}
    RNN - {{ id }}
{% endblock %}

{% block body %}

    <h1> POST NUMBER {{ id }}</h1>

{% endblock %}

{% block stylesheets %}
    <style>
        .content *{
            direction: rtl;
        }
    </style>
{% endblock %}
