{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h2>لقد قلنا لك إن الأمر سهل للغاية!! يمكنك الآن تفقد بريدك الإلكتروني لتجد رابط إعادة التعيين</h2>
    <h4>يمكنك الآن العودة إلى الصفحة الرئيسية من خلال <a class="undecorite text-blue" href="{{ path('index') }}">الضغط هنا</a> </h4>
{% endblock %}
